*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html body{
    background-color: rgb(32, 32, 107);
    font-family: Arial, Helvetica, sans-serif;

}

.border-radius{
    border: 1px solid lightgray;
    border-radius: 15px;
}

.red{
    color: rgb(109, 13, 13);
}

.fatto{
    text-decoration: line-through;

}

.pointer-cursor{
    cursor: pointer;
}